.chat
  = render 'layouts/sidebar'
  .chat-main
    .chat-header
      .chat-header__left
        %h2
          = @group.name
        %p
          Members:
          = @group.users.pluck(:name).join(",")
      .chat-header__btns
        .chat-header__btn
        = link_to "Edit", edit_group_path(@group), class: "chat-header__btn"
    .chat-body
      .chat-messages
        = render partial: "messages/message", collection: @messages
    .chat-footer
      = form_for [@group, @message], class: 'chat-footer__form'do |f|
        .chat-footer__body
          = f.text_field :content, row: '1', placeholder: "type a message", class: 'message'
          = f.label '', class: 'image-file' do
            =f.file_field :image, class: 'file'
            %i.fa.fa-image
        = f.submit 'Send', class: 'submit'
