.chat-group-form
  %h1新規チャットグループ
  = form_for (@group), class: 'new_chat_group', id: 'new_chat_group_22', accept: {charset: 'UTF-8'}, method: :post do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'グループ名', class: 'chat-group-form__label'
      .chat-group-form__field--right
        = f.text_field :name, placeholder: "グループ名を入力してください", id: 'chat_group_name', class: 'chat-group-form__input'
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバー追加', class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-user.clearfix
          = f.collection_check_boxes(:user_ids, User.all.where.not(id: current_user.id), :id, :name)
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label 'チャットメンバー', class: 'chat-group-form__label'
      .chat-group-form__field--right
        .chat-group-user.clearfix
          - @group.users.each do |user|
            = user.name
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        = f.submit 'Save', class: 'chat-group-form__action-btn'
